body{
font-family: "Times New Roman", Times, serif;


}


.main-header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 5px;
	margin: auto;
	
	
}

.main-header, h1 {
	border-bottom: 1px white solid;
	font-size: 35px;
}




.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}


 
li {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
}

li a {
    color: #000;
    text-decoration: none;
    font-size: 2em; 
}

li a:hover {
    color: grey;
    text-decoration: underline;
 }

.section{
	width: 350px;
	padding: 20px;
	margin: auto;
	text-align: center;
}

.section h2{
	text-align: center;
	margin-top: 10px;
}


img{
	 border: 2px solid;
	 border-color: black;
	border-radius: 10px;
	
}




.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}